#div_tab{
    position: relative;
    width: 404px;
    margin: 0 auto;
}

#div1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.layui-tab-card{
    height: 400px;
}

.layui-form-item{
    height: 40px !important;
}
.layui-form-label{
    padding: 10px 15px !important;
}

.layui-tab-content{
    position: relative;
    width: 385px;
    height: 340px;
}

li{
    width: 172px;
}

.layui-show{
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding-top: 10px;
}

.form_main{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -5%;
}

.inpt_submit{
    position: relative;
    left: 45%;
    height: 40px !important;
}

.layui-input{

}

#message{
    position: relative;
    left: 45%;
    color: red;
}
