<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/functions.css" type="text/css">
    <script type="text/javascript" src="/js/functions.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" type="text/css">
    <script src="/layui/layui.js"></script>

    <style>
        .c1{
            position: absolute;
            width: 40%;
            height: 40%;
        }
        .layui-btn{
            position: absolute;
            width: 20%;

        }
    </style>
</head>
<body>
<div class="c1">
    <div class="layui-form-item">
        <label class="layui-form-label">单位编号</label>
        <div class="layui-input-block">
            <input id="ipt_unitId" type="text" name="unitRegisterId" required  lay-verify="required" autocomplete="off" class="layui-input " style="width: 400px">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">经办人姓名</label>
        <div class="layui-input-block">
            <input id="unitName" type="text" readonly="readonly" name="unitName" autocomplete="off" class="layui-input" style="width: 400px">
        </div>
    </div>

    <input id="inpt_submit" type="submit" class="layui-btn" value="确认">


</div>
</body>
</html>