<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
    <!--<link rel="stylesheet" href="D:/GitHub/GJJ/src/main/resources/static/css/functions.css" type="text/css">
    <script type="text/javascript" src="D:/GitHub/GJJ/src/main/resources/static/js/functions.js"></script>
    <link rel="stylesheet" href="D:/GitHub/GJJ/src/main/resources/static/layui/css/layui.css" type="text/css">
    <script src="D:/GitHub/GJJ/src/main/resources/static/layui/layui.js"></script>-->
    <link rel="stylesheet" href="/css/functions.css" type="text/css">
    <script type="text/javascript" src="/js/functions.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" type="text/css">
    <script src="/layui/layui.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="top"></div>
    <div id="navigate"></div>
    <div id="left">
        <ul id="left_navi" class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">业务功能</a>
                <dl class="layui-nav-child">
                    <dd><a href="/sys/toPR" target="iframe1">个人登记</a></dd>
                    <dd><a href="/sys/toUA" target="iframe1">单位开户</a></dd>
                    <dd><a href="/sys/toPR" target="iframe1">缴款方式管理</a></dd>
                    <dd><a href="./remit.html" target="iframe1">单位汇缴清册</a></dd>
                    <dd><a href="/sys/toUR" target="iframe1">单位登记</a></dd>
                    <dd><a href="/unitRegister/findUnitRegister" target="iframe1">单位登记变更</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div id="right">
        <iframe id="iframe_right" name="iframe1" frameborder="0" scrolling="yes" src=""></iframe>
    </div>
</body>
</html>