<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="D:/GitHub/GJJ/src/main/resources/static/css/index.css" type="text/css">
    <script type="text/javascript" src="D:/GitHub/GJJ/src/main/resources/static/js/index.js"></script>
    <link rel="stylesheet" href="D:/GitHub/GJJ/src/main/resources/static/layui/css/layui.css" type="text/css">
    <script src="D:/GitHub/GJJ/src/main/resources/static/layui/layui.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="body">
    <div id="top"></div>
    <div id="navigate"></div>
    <div id="wrapper1">
        <div id="ad1"></div>
        <div id="wrapper2">
            <div id="slideshow1"></div>
            <div id="login">
                <div id="a_box" class="layui-btn-container">
                    <a id="a_up" class="a_btn layui-btn layui-btn-normal layui-btn-fluid " href="" target="_blank">
                        <i class="layui-icon" style="color: white;font-size: 30px;">&#xe66f;</i><br>个人网上业务平台
                    </a>
                    <a id="a_down" class="a_btn layui-btn layui-btn-normal layui-btn-fluid " href="" target="_blank">
                        <i class="layui-icon" style="color: white;font-size: 30px;">&#xe68e;</i><br>单位网上业务平台
                    </a>
                </div>
            </div>
        </div>
        <div id="ad2"></div>
    </div>
    <div id="slidenews"></div>
</body>
</html>