<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>汇缴清册</title>
    <link rel="stylesheet" href="/css/remit.css" type="text/css">
    <script type="text/javascript" src="/js/remit.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" type="text/css">
    <script src="/layui/layui.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="div_form">
        <form id="form_main" class="layui-form" action="" lay-filter="unit">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">单位登记号</label>
                <div class="layui-input-inline">
                    <input id="ipt_urId" th:value="${unitRegistId}" type="text" readonly="readonly" lay-verify="myVerify" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">单位名称</label>
                <div class="layui-input-inline">
                    <input th:value="${unitName}" type="text" readonly="readonly" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">资金来源</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${source}" readonly="readonly" lay-verify="myVerify" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-inline">
                <label id="unit_label" class="layui-form-label" style="width: 100px;">单位缴存比例</label>
                <div class="layui-input-inline" style="width: 80px;">
                    <input type="text" th:value="${unitRatio}" readonly="readonly" lay-verify="myVerify" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label" style="width: 100px;">个人缴存比例</label>
                <div class="layui-input-inline" style="width: 80px;">
                    <input type="text" th:value="${personRatio}" readonly="readonly" lay-verify="myVerify" autocomplete="off" class="layui-input">
                </div>
            </div>

        </form>

        <table id="employ" lay-filter="edit"></table>

        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
            </div>
        </script>

    </div>
</body>
</html>