<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/unit_register_detection.css" type="text/css">
    <script type="text/javascript" src="/js/unit_register.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" type="text/css">
    <script src="/layui/layui.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div id="div_form">
    <form id="form_main" class="layui-form" action="/unitRegister/detection" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">单位名称</label>
            <div class="layui-input-block">
                <input id="unitName" name="unitName" autocomplete="off" class="layui-input" required>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">组织机构代码</label>
            <div class="layui-input-block">
                <input id="ipt_unitId" type="text" name="orgCode"  autocomplete="off" class="layui-input" required>
            </div>
        </div>

        <input id="inpt_submit" type="submit" class="layui-btn" value="确认">
    </form>
</div>
</body>
</html>