<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>单位开户信息变更</title>
    <!--<link rel="stylesheet" href="D:/GitHub/GJJ/src/main/resources/static/css/unit_account.css" type="text/css">
    <script type="text/javascript" src="D:/GitHub/GJJ/src/main/resources/static/js/unit_account.js"></script>
    <link rel="stylesheet" href="D:/GitHub/GJJ/src/main/resources/static/layui/css/layui.css" type="text/css">
    <script src="D:/GitHub/GJJ/src/main/resources/static/layui/layui.js"></script>-->
    <link rel="stylesheet" href="/css/unit_account.css" type="text/css">
    <link rel="stylesheet" href="/layui/css/layui.css" type="text/css">
    <script type="text/javascript" src="/js/unit_account_update.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

    <div id="div_form">
        <form id="form_main" class="layui-form" action="/account/updateAccountById">
            <input id="accountId" type="hidden" name="accountId">
            <div class="layui-form-item">
                <label class="layui-form-label">单位登记号</label>
                <div class="layui-input-block">
                    <input id="ipt_unitId" type="text" name="unitRegisterId" readonly="readonly" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">单位名称</label>
                <div class="layui-input-block">
                    <input id="unitName" type="text" readonly="readonly" name="unitName" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">业务种类</label>
                <div class="layui-input-block">
                    <input id="gjj" type="radio" name="businessKind" value="住房公积金" title="住房公积金" lay-verify="single">
                    <input id="bt" type="radio" name="businessKind" value="住房补贴" title="住房补贴" lay-verify="single">
                    <input id="jj" type="radio" name="businessKind" value="住房基金" title="住房基金" lay-verify="single">
                    <input id="wx" type="radio" name="businessKind" value="住房维修基金" title="住房维修基金" lay-verify="single">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">资金来源</label>
                <div class="layui-input-block">
                    <input id="Dwzc" type="radio" name="capitalSource" value="单位自筹" title="单位自筹" lay-verify="single">
                    <input id="Czbk" type="radio" name="capitalSource" value="财政拨款" title="财政拨款" lay-verify="single">
                    <input id="DwzcHeCzbk" type="radio" name="capitalSource" value="财政拨款和单位自筹" title="财政拨款和单位自筹" lay-verify="single">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">开通二级辅助信息</label>
                <div class="layui-input-block">
                    <input id="KaiTong" type="radio" name="isSecondAssist" value="是" title="是" lay-verify="single">
                    <input id="BuKaiTong" type="radio" name="isSecondAssist" value="否" title="否" lay-verify="single">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">财政拨款单位</label>
                <div class="layui-input-block">
                    <input id="Scz" type="radio" name="allocateUnit" value="市财政" title="市财政" lay-verify="single">
                    <input id="QXcz" type="radio" name="allocateUnit" value="区县财政" title="区县财政" lay-verify="single">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">业务经办部门</label>
                <div class="layui-input-block">
                    <input id="YWJBBM" type="text" name="agentDepartment" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!--<div class="layui-form-item">
                <label class="layui-form-label">单位预算代码</label>
                <div class="layui-input-block">
                    <input type="text" name="" required  lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>-->

            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-block">
                    <input id="LXDH" type="text" name="unitPhone" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">发薪日期</label>
                <div class="layui-input-block">
                    <select name="payDay" lay-verify="required" lay-filter="papers">
                        <option  value=""></option>
                        <option id="payDay1" value="1">1</option>
                        <option id="payDay2" value="2">2</option>
                        <option id="payDay3" value="3">3</option>
                        <option id="payDay4" value="4">4</option>
                        <option id="payDay5" value="5">5</option>
                        <option id="payDay6" value="6">6</option>
                        <option id="payDay7" value="7">7</option>
                        <option id="payDay8" value="8">8</option>
                        <option id="payDay9" value="9">9</option>
                        <option id="payDay10" value="10">10</option>
                        <option id="payDay11" value="11">11</option>
                        <option id="payDay12" value="12">12</option>
                        <option id="payDay13" value="13">13</option>
                        <option id="payDay14" value="14">14</option>
                        <option id="payDay15" value="15">15</option>
                        <option id="payDay16" value="16">16</option>
                        <option id="payDay17" value="17">17</option>
                        <option id="payDay18" value="18">18</option>
                        <option id="payDay19" value="19">19</option>
                        <option id="payDay20" value="20">20</option>
                        <option id="payDay21" value="21">21</option>
                        <option id="payDay22" value="22">22</option>
                        <option id="payDay23" value="23">23</option>
                        <option id="payDay24" value="24">24</option>
                        <option id="payDay25" value="25">25</option>
                        <option id="payDay26" value="26">26</option>
                        <option id="payDay27" value="27">27</option>
                        <option id="payDay28" value="28">28</option>
                        <option id="payDay29" value="29">29</option>
                        <option id="payDay30" value="30">30</option>
                        <option id="payDay31" value="31">31</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">首次汇缴月份</label>
                <div class="layui-input-block">
                    <select name="firstRemitMonth" lay-verify="required" lay-filter="papers">
                        <option value=""></option>
                        <option id="firstRemitMonth1" value="1">1</option>
                        <option id="firstRemitMonth2" value="2">2</option>
                        <option id="firstRemitMonth3" value="3">3</option>
                        <option id="firstRemitMonth4" value="4">4</option>
                        <option id="firstRemitMonth5" value="5">5</option>
                        <option id="firstRemitMonth6" value="6">6</option>
                        <option id="firstRemitMonth7" value="7">7</option>
                        <option id="firstRemitMonth8" value="8">8</option>
                        <option id="firstRemitMonth9" value="9">9</option>
                        <option id="firstRemitMonth10" value="10">10</option>
                        <option id="firstRemitMonth11" value="11">11</option>
                        <option id="firstRemitMonth12" value="12">12</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">跨年清册核定月份</label>
                <div class="layui-input-block">
                    <input id="1yue" type="radio" name="yearListRatify" value="1" title="1月" lay-verify="single">
                    <input id="7yue" type="radio" name="yearListRatify" value="7" title="7月" lay-verify="single">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">单位缴存比例</label>
                <div class="layui-input-block">
                    <input id="danweibili" type="text" name="unitDepositeRatio" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!--<div class="layui-form-item">
                <label class="layui-form-label">个人缴存比例</label>
                <div class="layui-input-block">
                    <input id="gernbili" type="text" name="" required  lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>-->

            <div class="layui-form-item">
                <label class="layui-form-label">每月汇缴是否需要确认人员清册</label>
                <div class="layui-input-block">
                    <input id="yesIsMonthConfirm" type="radio" name="isMonthConfirm" value="是" title="是" lay-verify="single">
                    <input id="noIsMonthConfirm" type="radio" name="isMonthConfirm" value="否" title="否" lay-verify="single">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否接受中心信息服务</label>
                <div class="layui-input-block">
                    <input id="yesIsAcceptService" type="radio" name="isAcceptService" value="是" title="是" lay-verify="single">
                    <input id="noIsAcceptService"  type="radio" name="isAcceptService" value="否" title="否" lay-verify="single">
                </div>
            </div>

            <!--<div class="layui-form-item">
                <label class="layui-form-label">缴款方式</label>
                <div class="layui-input-block">
                    <input id="WTSK" type="radio" name="payMethod" value="委托收款" title="委托收款">
                    <input id="ZDHK" type="radio" name="payMethod" value="主动汇款" title="主动汇款">
                    <input id="ZZZP" type="radio" name="payMethod" value="转账支票" title="转账支票">
                    <input id="XJSK" type="radio" name="payMethod" value="现金（刷卡）" title="现金（刷卡）">
                    <input id="CZTF" type="radio" name="payMethod" value="财政统发" title="财政统发">
                    <input id="ZZFK" type="radio" name="payMethod" value="转账交款" title="转账交款">
                    <input id="ZXZF" type="radio" name="payMethod" value="在线支付" title="在线支付">
                </div>
            </div>-->

            <button id="inpt_submit" lay-submit class="layui-btn">修改</button>

        </form>
    </div>

</body>
</html>