<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.gjj.registerAndAccount.account.mapper.AccountMapper">
    <resultMap id="accountEntityMap" type="com.zlk.gjj.registerAndAccount.entity.Account">
        <id property="accountId" column="account_id" javaType="java.lang.String"></id>
        <result property="unitRegisterId" column="unit_register_id" javaType="java.lang.String"></result>
        <result property="unitId" column="unit_id" javaType="java.lang.String"></result>
        <result property="unitName" column="unit_name" javaType="java.lang.String"></result>
        <result property="unitPhone" column="unit_phone" javaType="java.lang.String"></result>
<!--
        <result property="accountType" column="account_type" javaType="java.lang.String"></result>
-->
        <result property="businessKind" column="business_kind" javaType="java.lang.String"></result>
        <result property="capitalSource" column="capital_source" javaType="java.lang.String"></result>
        <result property="allocateUnit" column="allocate_unit" javaType="java.lang.String"></result>
        <result property="isSecondAssist" column="is_second_assist" javaType="java.lang.String"></result>
        <result property="isAcceptService" column="is_accept_service" javaType="java.lang.String"></result>
        <result property="agentDepartment" column="agent_department" javaType="java.lang.String"></result>
        <result property="payDay" column="pay_day" javaType="java.lang.Integer"></result>
        <result property="firstRemitMonth" column="first_remit_month" javaType="java.lang.Integer"></result>
        <result property="yearListRatify" column="year_list_ratify" javaType="java.lang.Integer"></result>
        <result property="unitDepositeRatio" column="unit_deposite_ratio" javaType="java.lang.Integer"></result>
        <result property="isMonthConfirm" column="is_month_confirm" javaType="java.lang.String"></result>
        <result property="payMethod" column="pay_method" javaType="java.lang.String"></result>


    </resultMap>


<insert id="insertAccount" parameterType="com.zlk.gjj.registerAndAccount.entity.Account">
        insert into account(account_id,unit_register_id,unit_id,unit_name,unit_phone,business_kind,capital_source,allocate_unit,is_second_assist,is_accept_service,agent_department,pay_day,first_remit_month,year_list_ratify,unit_deposite_ratio,is_month_confirm,pay_method) values (#{accountId},#{unitRegisterId},#{unitId},#{unitName},#{unitPhone},#{businessKind},#{capitalSource},#{allocateUnit},#{isSecondAssist},#{isAcceptService},#{agentDepartment},#{payDay},#{firstRemitMonth},#{yearListRatify},#{unitDepositeRatio},#{isMonthConfirm},#{payMethod})
    </insert>

    <select id="selectAccountByUnitId" parameterType="com.zlk.gjj.registerAndAccount.entity.Account" resultType="java.lang.String">
		select businessKind from account where unit_id=#{unitId}
	</select>

    <select id="selectAccountByUnitRegisterId" resultMap="accountEntityMap">
        select * from account where
        unit_register_id = #{unitRegisterId}
    </select>

    <update id="updateAccountById" parameterType="com.zlk.gjj.registerAndAccount.entity.Account">
    update account
    <set>
        <if test="unitRegisterId!=null and unitRegisterId!=''">
            unit_register_id =#{unitRegisterId},
        </if>
        <if test="unitId!=null and unitId!=''">
            unit_id  =#{unitId},
        </if>
        <if test="unitName!=null and unitName!=''">
            unit_name  =#{unitName},
        </if>
        <if test="unitPhone!=null and unitPhone!=''">
            unit_phone  =#{unitPhone},
        </if>

        <if test="businessKind!=null and businessKind!=''">
            business_kind  =#{businessKind},
        </if>
        <if test="capitalSource!=null and capitalSource!=''">
            capital_source  =#{capitalSource},
        </if>
        <if test="allocateUnit!=null and allocateUnit!=''">
            allocate_unit  =#{allocateUnit},
        </if>
        <if test="isSecondAssist!=null and isSecondAssist!=''">
            is_second_assist  =#{isSecondAssist},
        </if>
        <if test="isAcceptService!=null and isAcceptService!=''">
            is_accept_service  =#{isAcceptService},
        </if>
        <if test="agentDepartment!=null and agentDepartment!=''">
            agent_department  =#{agentDepartment},
        </if>
        <if test="payDay!=null and payDay!=''">
            pay_day  =#{payDay},
        </if>
        <if test="firstRemitMonth!=null and firstRemitMonth!=''">
            first_remit_month  =#{firstRemitMonth},
        </if>
        <if test="yearListRatify!=null and yearListRatify!=''">
            year_list_ratify  =#{yearListRatify},
        </if>
        <if test="unitDepositeRatio!=null and unitDepositeRatio!=''">
            unit_deposite_ratio  =#{unitDepositeRatio},
        </if>
        <if test="isMonthConfirm!=null and isMonthConfirm!=''">
            is_month_confirm  =#{isMonthConfirm},
        </if>

        <if test="isMonthConfirm!=null and isMonthConfirm!=''">
            pay_method  =#{payMethod},
        </if>


    </set>
    where account_id=#{accountId}
</update>





</mapper>